* {
  box-sizing: border-box;
}

body{
  height: 100%;
  margin: 0;
  background-color: pink;
}

.headerComponent {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.headerComponent > ul{

  display: flex;
  background-color: aqua;

}

.headerComponent > ul > li{

  width: 33%;
  text-align: center;
  list-style: none;

}

.bodyComponent{

  display: flex;
  background-color: red;
  height: 100vh;


}

.appComponent{
  height: 100%;

  background-color: orange;

}

.actionCardComponent{

  border-color: black;
  border-style: ridge;
  border-width: 9px;
  background-color: rgb(18, 122, 122);
  margin: 70px;
  
}

.playerComponent{

  border-color:black;
  border-style: ridge;
  border-width: 10px;
  background-color: aqua;
  width:33%;
  text-align: center;
  margin: 70px;
  height: 50%;
}

.playAreaComponent{

  width: 33%;
  text-align: center;
}
