* {
  box-sizing: border-box;
}

body{
  height: 100%;
  margin: 0;
  background-color: pink;
}


nav > ul{

  display: flex;
  /*align-items: center;*/
  background-color: aqua;

}

nav > ul > li{

  width: 33%;
  text-align: center;
  list-style: none;

}

.headerComponent {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.bodyComponent{

  display: flex;
  background-color: red;
  height: 100%;

}

.appComponent{
  height: 100%;

  background-color: orange;

}

/*.bodyComponentList{

  width: 33%;
  text-align: center;
  list-style: none;

}*/

.bodyComponent > li{

  width: 33%;
  text-align: center;
  list-style: none;

}

.listItem1{
  background-color: yellow;
  margin: 20px;
}

.listItem2{
  background-color: green;
  margin: 20px;
}

.listItem3{
  background-color: blue;
  margin: 20px;
}

